docker.enabled = true
docker.runOptions = '--platform linux/amd64'

profiles {
    test {
        params.samplesheet = "${projectDir}/data/samplesheet.csv"
        params.hisat2_index = "${projectDir}/data/ref/genome_index*.ht2"
        params.annotation_file = "${projectDir}/data/ref/Homo_sapiens.GRCh38.115.gtf"
        params.deseq2_script = "${projectDir}/deseq2.r"
    }
}